.homepage {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: 'Inter', sans-serif;
}

.background-image {
  position: absolute;
  width: 100.1%;
  top: calc(50% - 288.9px);
  right: -0.04%;
  left: -0.05%;
  max-width: 100%;
  overflow: hidden;
  height: 787.7px;
  object-fit: cover;
}

.login-section {
  position: absolute;
  height: 7.95%;
  top: 5.56%;
  bottom: 86.49%;
  left: calc(50% + 611.29px);
  width: 252px;
  cursor: pointer;
}

.login-button-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.login-button {
  position: absolute;
  top: 19.75%;
  left: calc(50% - 76.47px);
  width: 149.5px;
  height: 71.12%;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

